<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">
                <label for="author"> Author</label>
                    <textarea name="author" id="author"></textarea>
            </div><br>
            <div class="form-group">
                <label for="quote">Quote</label>
                    <textarea name="quote" id="quote" rows="5"></textarea>
            </div><br>
            <div class="form-group">
                <label for="quoteAuthor"> Quote Author</label>
                    <textarea name="quoteAuthor" id="quoteAuthor"></textarea>
            </div>
            <br><br>
            <button type="submit" class="btn btn-info btn-lg">Add Quote</button>

        </form>
    </div>
</div>