<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">
                <label for="yourName">
                    <textarea name="yourName" id="" cols="30" rows="10"></textarea>
                </label>
            </div>
<div class="form-group">
    <label for="author">
        <textarea name="author" id="" cols="30" rows="10"></textarea>
    </label>
</div>
<div class="form-group">
    <label for="quote">
        <textarea name="quote" id="" cols="30" rows="10"></textarea>
    </label>
</div>
<div class="form-group">
    <label for="quoteAuthor">
        <textarea name="quoteAuthor" id="" cols="30" rows="10"></textarea>
    </label>
</div>

            
        </form>
    </div>
</div>
